<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TPListeEpicerie"
        tools:targetApi="31">
        <service android:name=".widget.ItemListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <receiver android:name=".widget.ItemListWidget"
            android:exported="true">
            <!-- https://stackoverflow.com/questions/2082998/how-to-implement-a-button-on-an-android-widget -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/item_list_widget_info" />
        </receiver>

        <activity
            android:name=".page.PageProfil"
            android:exported="false" />
        <activity
            android:name=".page.PageSignIn"
            android:exported="false" />
        <activity
            android:name=".page.PageSignUp"
            android:exported="false" />
        <activity
            android:name=".page.PageDevelopers"
            android:exported="false" />
        <activity
            android:name=".page.PageSettings"
            android:exported="false" />
        <activity
            android:name=".page.PageList"
            android:exported="false" />
        <activity
            android:name=".page.PageFavorite"
            android:exported="false" />
        <activity
            android:name=".PageDetails"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.PageAddItem"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ca.qc.bdeb.c5gm.photoapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4348949294661709~1543989915"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

</manifest>


